.software {
    display: flex;
    flex-direction: column;
    flex: auto;
    border : 1px solid black;
    padding:10px;
}

#softName{
    font-weight:bold;
    font-size:40px;
    text-align:center;
}

#softType{
    text-align:center;
    font-size:20px;
    font-style:italic;
}

#comment{
    text-align:justify;
    margin:30px;
    font-size:16px;
}

#ImgSoft {
    margin-left: auto;
    margin-right: auto;
    max-height: 30%;
}

